{
    "printWidth": 80,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "singleAttributePerLine": true,
    "useTabs": false,
    "tabWidth": 2
}
