body {

    transition: all 0.25s ease;

    &.saticoy-light {
        background-color: rgb(247, 249, 252);
        color: black;
    }

    &.saticoy-dark {
        background-color: rgb(27, 38, 53);
        color: white;
    }
}