.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    div,
    h1 {
        flex-grow: 1;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-size: 1.3rem;
        font-weight: 400;
    }

    svg {
        cursor: pointer; // TODO: this has to go to the settings menu itself
        flex-grow: 0;
    }
}