.settings-menu--toggle {
    display: flex !important;
    align-items: center;
    flex-wrap: nowrap;

    >svg {
        flex-grow: 0;
    }

    >span {
        flex-grow: 1;

        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            width: 180px;

            >div:first-child {
                flex-grow: 1;
                flex-basis: 0;
                overflow: hidden;
                white-space: nowrap;
                max-width: 100%;
                text-overflow: ellipsis;
            }

            >div:nth-child(2) {
                flex-grow: 0;
                flex-basis: auto;
            }
        }
    }
}