div.loginform {
    @apply w-full;
    @apply bg-transparent;

    h1 {
        @apply text-center;
        @apply text-4xl text-orange-400 mb-4;
    }

    div.field {
        @apply flex flex-col;
        margin-bottom: 2rem;
    }
}

@media (min-width: 768px) {
    div.loginform {
        max-width: 100%;
        width: 650px;
    }
}